{% extends 'shop/home.html' %}
 {% load static %}
{% block title%}
    заказ
{% endblock %}
{% block content%}

<div id="order_card" class="card ">
        <div class="h3_order">
        <p>ваш заказ</p>
        </div>
        <ul class="ui_order">
            {% for item in basket %}
                <li>
                    {{ item.quantity }}x   {{ item.product.name }}
                    <span class="order_span">{{ item.total_price }} BYN</span>
                </li>
            {% endfor %}
        </ul>
        <p class="order_total_price">общая стоимость: {{ basket.get_total_price }} BYN</p>
    <form class="form" method="post">
        {{ form }}
        <p><input type="submit" value="отправить"></p>
        {% csrf_token %}
    </form>
</div>
{% endblock %}