{% extends "shop/home.html" %}
{% load static %}
{% block title %}
    {% if brand %}
        {{ brand.name }}
    {% else %}
        Товар
    {% endif %}
{% endblock %}
{% block content %}

<div class="sidebar_and_contant">
    <div id="sidebar">
        <h3>Бренды:</h3>
        <ul class="ul_filter_zone">
            <li {% if not category %}  {% endif %}>
                <a href="{% url 'shop:product_list' %}">ВСЕ</a>
            </li>
            {% for c in categories %}
                <li {% if category.slug == c.slug %}  {% endif %} >
                    <a href="{{ c.get_absolute_url }}">{{ c.name }}</a>
                </li>
            {% endfor %}
        </ul>
        <div>
            <div>
                <h3>Сортировать:</h3>
                </div>
            <div class="sort">
            <span>по цене:</span>
                </div>
            <div class="sort">
            <a href="?price=2" target="_self"> наименьшей </a>
                <a href="?price=1" target="_self"> наибольшей </a>
                </div>
            <div class="sort">
            <span>по размеру:</span>
                </div>
            <div class="sort">
            <a href="?dimension=1" target="_self"> наименьшей </a>
                <a href="?dimension=2" target="_self"> наибольшей </a>
                </div>
             <div class="sort">
            <span>по глубине погружения:</span>
                </div>
            <div class="sort">
            <a href="?water=1" target="_self"> наименьшей </a>
                <a href="?water=2" target="_self"> наибольшей </a>
                </div>
                <div class="sort">
            <span>сброс:</span>
                </div>
            <div class="sort">
            <a href="/" target="_self"> отключить  </a>
                </div>


        </div>
    </div>
    <div id="main" class="product-list">
        <ul class="product_detail_div">
            {% for product in page.object_list %}
                    <li class="li_colum">
                        <div>
                        <div class="product_detail_img_div">
                             <a href="{{ product.get_absolute_url }}">
                                <img class='prod_img' src="
                                    {% if product.image %}
                                         {{ product.image.url }}
                                    {% else %}
                                         {% static '/shop/img/no_image.png' %}
                                    {% endif %}">
                                </a>
                        </div>
                        <div >
                            <a class="product_detail_name_div" href="{{ product.get_absolute_url }}">{{ product.name }}</a>
                        </div>
                        <div class="product_detail_price_div"> {{ product.price }} BYN</div>
                        <div>
                            <form action="{% url 'basket:basket_add' product.id %}" method="post">
                                    {{ basket_product_form }}
                                    {% csrf_token %}
                             <button class="button">добавить</button>
                            </form>
                        </div>
                        </div>

                    </li>
                    {% endfor %}
                </ul>
        <div>
    {% if page.has_previous %}
        <a href="?page={{page.previous_page_number}}">
            <-···

        </a>
    {% endif %}
    <span> {{ page.number }}</span>
    {% if page.has_next %}
        <a href="?page={{page.next_page_number}}">
            ···->
        </a>
    {% endif %}

</div>
            </div>
</div>
{% endblock %}